*.txt
/some

#игнорирование файла с названием
readmy_test.txt
#игнорирование папки и ее содержимого
/css
#игнорирование ввсех файлов с расширением 
*.txt 
#игнорирование всех файлов в папке 'primer' с расширением .txt 
primer/*.txt 
#Не игнорировать все папки внутри папки "primer", но игнорировать внутри этих папок  все файлы с расширением .txt 
primer/**/*.txt 